<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [(opened)]="navstatus" mode="side">

    <div class="container" id="logo-container">
      <ul class="list-inline" id="logo-list">
        <li class="list-inline-item"><img src="./../../assets/logo.png" id="logo"></li>
        <li class="list-inline-item align-middle">
          <h3 class="text-white m-0">Medica-Web</h3>
        </li>
      </ul>
    </div>



    <ul class="list-group list-group-flush link-items">


      <li class="list-group-item link-item" routerLink="/home">
        <h4 class="font-weight-light text-uppercase">
          dashboard
        </h4>
      </li>

      <li class="list-group-item link-item" routerLink="/patient">
        <h4 class="font-weight-light text-uppercase">
          patients
        </h4>
      </li>

      <li class="list-group-item link-item">
        <h4 class="font-weight-light text-uppercase">
          doctors
        </h4>
      </li>

      <li class="list-group-item link-item">
        <h4 class="font-weight-light text-uppercase">
          Nurses
        </h4>
      </li>
      <li class="list-group-item link-item">
        <h4 class="font-weight-light text-uppercase">
          Sales
        </h4>
      </li>

      <li class="list-group-item link-item">
        <h4 class="font-weight-light text-uppercase">
          Employes
        </h4>
      </li>

    </ul>


  </mat-drawer>

  <div class="example-sidenav-content">

    <!-- -->
    <nav class="navbar  m-0">


      <button class="btn btn-outline-primary rounded-0" type="button" mat-button (click)="drawer.toggle()" id="sidebar-togler">
        <mat-icon>list</mat-icon>
      </button>



      <form class="form-inline my-2 my-lg-0 ">

        <div class="input-group mr-sm-2 ">

          <input type="text" class="form-control rounded-0" placeholder="Search here" aria-label="Search" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary my-2 my-sm-0 rounded-0"  id="button-addon2">Search</button>
          </div>
        </div>

      </form>

    </nav>
    <!-- -->

    <!--inner content -->

    <router-outlet></router-outlet>
    <!-- inner content ends -->

  </div>



</mat-drawer-container>
